ion-content{
    --background: url("../../assets/img/footwear3.png") 0 0/100% 100% no-repeat;   
}


.avatar{
    margin-left: 3%;
    background: url("../../assets/img/footwearbg.png") 0 0/100% 100% no-repeat;
 }

.logoName{
    font-family: cursive;
}